
<div class="covid-banner">
  <br>
  <strong>Stay informed!</strong> Visit the SA Department of Health's website for COVID-19 updates: 
    <a href="https://www.sacoronavirus.co.za" target="_blank">www.sacoronavirus.co.za
    </a><br><br>
 
</div>


<!-- HEADER -->
<div *ngIf = " user === null ||user.type != 'admin'   else adminPage">

<header>
  
    <!-- TOP HEADER -->
    <div id="top-header">
      
        <div class="container">
          

          
            <ul class="header-links pull-left">
              <!--  <li><a href="#"><i class="fa fa-phone"></i> +27123456789</a></li>-->
              <!--  <li><a href="#"><i class="fa fa-envelope-o"></i> takemuch@email.com</a></li>-->
              <!--  <li><a href="#"><i class="fa fa-map-marker"></i> 53 woodlands ave sandton</a></li>-->
            </ul>
            <ul class="header-links pull-right">
                <li><a href="https://en.wikipedia.org/wiki/South_African_rand" target="popup"><i class="fa fa-money"></i> ZAR</a></li>
                <li><a routerLink ="/profile"><i class="fa fa-user-o"></i> {{user == null ?  'Login'  : 'My Acoount'}}</a></li>
            </ul>
        </div>
    </div>
    <!-- /TOP HEADER -->

    <!-- MAIN HEADER -->
    <div id="header">
        <!-- container -->
        <div class="container">
            <!-- row -->
            <div class="row">
                <!-- LOGO -->
                <div class="col-md-3">
                    <div class="header-logo">
                        <a href="#" class="logo">
                            <img src="assets/img/logo.png" alt="">
                        </a>
                    </div>
                </div>
                <!-- /LOGO -->

                <!-- SEARCH BAR -->
                <div class="col-md-6">
                    <div class="header-search">
                        <form>
                            <!-- <select class="input-select">
                                <option value="0">All Categories</option>
                                <option value="1">Category 01</option>
                                <option value="1">Category 02</option>
                            </select> -->
                            <input class="form-control" type="text" name="title" [(ngModel)] ="title" placeholder="Search here">
                            <button class="search-btn" (click)="search()">Search</button>
                       
                        </form>
                    </div>
                </div>
                <!-- /SEARCH BAR -->

                <!-- ACCOUNT -->
                <div class="col-md-3 clearfix">
                    <div class="header-ctn">
                        <!-- Wishlist 
                        <div>
                            <a href="#">
                                <i class="fa fa-heart-o"></i>
                                <span>Your Wishlist</span>
                                <div class="qty">0</div>
                            </a>
                        </div>
                        /Wishlist -->

                        <!-- Cart -->
                        <div class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" aria-expanded="true">
                                <i class="fa fa-shopping-cart"></i>
                                <span>Your Cart</span>
                                <div class="qty">{{cartData.data[0].numInCart != 0 ? cartData.data.length : 0 }}</div>
                            </a>
                            <div class="cart-dropdown">
                                <div class="cart-list" *ngIf  =  "cartData.data[0].numInCart !=0">
                                    <div class="product-widget" *ngFor="let c of cartData.data;  let i=index">
                                        <div class="product-img">
                                            <img [src]="c.product ?.picture" alt="{{c.product.title}}" width="20px">
                                        </div>
                                        <div class="product-body">
                                            <h3 class="product-name"><a href="#">{{c.product.title}}</a></h3>
                                            <h4 class="product-price"><span class="qty">{{c.numInCart}} x </span>{{c.product?.price | currency: 'ZAR'}}</h4>
                                        </div>
                                        <button class="delete" (click)= "cartService.DeleteProductFromCart(i,1)"  ><i class="fa fa-close"></i></button>
                                    </div>
                                </div>
                                <div class="cart-summary">
                                    <small>{{cartData.data[0].numInCart != 0 ? cartData.data.length : 0 }}Item(s) selected</small>
                                    <h5>TOTAL : {{ cartTotal | currency : 'ZAR '}}</h5>
                                </div>
                                <div class="cart-btns">
                                    <a routerLink = "/cart">View Cart</a>
                                    <a routerLink = "/checkout">Checkout  <i class="fa fa-arrow-circle-right"></i></a>
                                </div>
                            </div>
                        </div>
                        <!-- /Cart -->

                        <!-- Menu Toogle -->
                        <div class="menu-toggle" >
                            <a href="#" >
                                <i class="fa fa-bars" ></i>
                                <span>Menu</span>
                            </a>
                        </div>










                        
                        <!-- /Menu Toogle -->
                    </div>
                </div>
                <!-- /ACCOUNT -->
            </div>
            <!-- row -->
        </div>
        <!-- container -->
    </div>
    <!-- /MAIN HEADER -->
</header>
<!-- /HEADER -->

<!-- NAVIGATION -->
<nav *ngIf = "user == null else Login" id="navigation">
    <!-- container -->
    <div class="container">
        <!-- responsive-nav -->
        <div id="responsive-nav">
            <!-- NAV -->
            <ul class="main-nav nav py-3">
                <li class="active"><a routerLink = "/">Home</a></li>
              
              
                <!--<li><a href="#">Hot Deals</a></li>-->
              <!--<li><a href="#">Categories</a></li>-->
             <!--<li><a href="#">Contact us</a></li>-->

            </ul>
            <!-- /NAV -->
        </div>
        <!-- /responsive-nav -->
    </div>
    <!-- /container -->
</nav>





<!-- /NAVIGATION For existing users-->
<ng-template #Login>

    <nav [ngSwitch]="user.type" id="navigation">
        <div *ngSwitchCase="'delivery'" class="container">
            <!-- responsive-nav -->
            <div id="responsive-nav">
                <!-- NAV -->
                <ul class="main-nav nav py-3">
                    <li class="active"><a routerLink = "/">Home</a></li>
                    <!-- <li><a href="#">orders to Delivered</a></li> -->
                    <li><a routerLink = "/order">orders Available</a></li>
                <!--<li><a href="#">Contact us</a></li>-->

                </ul>
                <!-- /NAV -->
            </div>
            <!-- /responsive-nav -->
        </div>
        <!-- container -->
        <div *ngSwitchCase="'customer'" class="container">
            <!-- responsive-nav -->
            <div id="responsive-nav">
                <!-- NAV -->
                <ul class="main-nav nav py-3">
                    <li class="active"><a routerLink = "/">Home</a></li>
                  
                  
                    <li><a href="#">My cart</a></li>
                  <li><a href="#" routerLink="/order">My orders</a></li>
                 <!--<li><a href="#">Contact us</a></li>-->
    
                </ul>
                <!-- /NAV -->
            </div>
            <!-- /responsive-nav -->
        </div>
        <!-- /container -->
        <div *ngSwitchDefault class="container">
            <!-- responsive-nav -->
            <div id="responsive-nav">
                <!-- NAV -->
                <ul class="main-nav nav py-3">
                    <li class="active"><a routerLink = "/">Home</a></li>
                  
                  
                    <!--<li><a href="#">Hot Deals</a></li>-->
                  <!--<li><a href="#">Categories</a></li>-->
                 <!--<li><a href="#">Contact us</a></li>-->
    
                </ul>
                <!-- /NAV -->
            </div>
            <!-- /responsive-nav -->
        </div>
        <!-- /container -->
    </nav>
</ng-template>


</div>


<ng-template #adminPage>

    <nav class="navbar navbar-expand navbar-light bg-navbar topbar mb-4 static-top">
        <button id="sidebarToggleTop" class="btn btn-link rounded-circle mr-3">
         
<div ngbDropdown class="d-inline-block">
     
  <i ngbDropdownToggle class="fa fa-bars"></i>
      <span>Menu</span>
      <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
        
        <!-- <button ngbDropdownItem>Action - 1</button> -->
        
        <a class="dropdown-item" href="dashboard">
          <i class="fa fa-tachometer fa-sm fa-fw mr-2 text-gray-400"></i>
          dashboard
        </a>


        <a class="dropdown-item" href="users">
          <i class="fa fa-gift fa-sm fa-fw mr-2 text-gray-400"></i>
          users
        </a>
        <a class="dropdown-item" href="products">
          <i class="fa fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i>
          products
        </a>
      </div>
    </div>

    











          
        </button>
        <ul class="navbar-nav ml-auto">
          <li class="nav-item dropdown no-arrow">
            <a class="nav-link dropdown-toggle" href="#" id="searchDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <i class="fa fa-search fa-fw"></i>
            </a>
            <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="searchDropdown">
              <form class="navbar-search">
                <div class="form-group">
                  <input type="text" class="form-control bg-light border-1 small" placeholder="What do you want to look for?" aria-label="Search" aria-describedby="basic-addon2" style="border-color: #3f51b5;">
                </div>
                <div class="form-group">
                  <button class="btn btn-primary" type="button">
                    <i class="fa fa-search fa-sm"></i>
                  </button>
                </div>
              </form>
            </div>
          </li>
          <!-- <li class="nav-item dropdown no-arrow mx-1">
            <a class="nav-link dropdown-toggle" href="#" id="alertsDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <i class="fa fa-bell fa-fw"></i>
              <span class="badge badge-danger badge-counter">3+</span>
            </a>
            <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="alertsDropdown">
              <h6 class="dropdown-header">
                Alerts Center
              </h6>
              <a class="dropdown-item d-flex align-items-center" href="#">
                <div class="mr-3">
                  <div class="icon-circle bg-primary">
                    <i class="fa fa-file-alt text-white"></i>
                  </div>
                </div>
                <div>
                  <div class="small text-gray-500">December 12, 2019</div>
                  <span class="font-weight-bold">A new monthly report is ready to download!</span>
                </div>
              </a>
              <a class="dropdown-item d-flex align-items-center" href="#">
                <div class="mr-3">
                  <div class="icon-circle bg-success">
                    <i class="fa fa-donate text-white"></i>
                  </div>
                </div>
                <div>
                  <div class="small text-gray-500">December 7, 2019</div>
                  $290.29 has been deposited into your account!
                </div>
              </a>
              <a class="dropdown-item d-flex align-items-center" href="#">
                <div class="mr-3">
                  <div class="icon-circle bg-warning">
                    <i class="fa fa-exclamation-triangle text-white"></i>
                  </div>
                </div>
                <div>
                  <div class="small text-gray-500">December 2, 2019</div>
                  Spending Alert: We've noticed unusually high spending for your account.
                </div>
              </a>
              <a class="dropdown-item text-center small text-gray-500" href="#">Show All Alerts</a>
            </div>
          </li> -->
          <!-- <li class="nav-item dropdown no-arrow mx-1">
            <a class="nav-link dropdown-toggle" href="#" id="messagesDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <i class="fa fa-envelope fa-fw"></i>
              <span class="badge badge-warning badge-counter">2</span>
            </a>
            <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="messagesDropdown">
              <h6 class="dropdown-header">
                Message Center
              </h6>
              <a class="dropdown-item d-flex align-items-center" href="#">
                <div class="dropdown-list-image mr-3">
                  <img class="rounded-circle" src="img/man.png" style="max-width: 60px" alt="">
                  <div class="status-indicator bg-success"></div>
                </div>
                <div class="font-weight-bold">
                  <div class="text-truncate">Hi there! I am wondering if you can help me with a problem I've been
                    having.</div>
                  <div class="small text-gray-500">Udin Cilok · 58m</div>
                </div>
              </a>
              <a class="dropdown-item d-flex align-items-center" href="#">
                <div class="dropdown-list-image mr-3">
                  <img class="rounded-circle" src="img/girl.png" style="max-width: 60px" alt="">
                  <div class="status-indicator bg-default"></div>
                </div>
                <div>
                  <div class="text-truncate">Am I a good boy? The reason I ask is because someone told me that people
                    say this to all dogs, even if they aren't good...</div>
                  <div class="small text-gray-500">Jaenab · 2w</div>
                </div>
              </a>
              <a class="dropdown-item text-center small text-gray-500" href="#">Read More Messages</a>
            </div>
          </li>
          <li class="nav-item dropdown no-arrow mx-1">
            <a class="nav-link dropdown-toggle" href="#" id="messagesDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <i class="fa fa-tasks fa-fw"></i>
              <span class="badge badge-success badge-counter">3</span>
            </a>
            <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="messagesDropdown">
              <h6 class="dropdown-header">
                Task
              </h6>
              <a class="dropdown-item align-items-center" href="#">
                <div class="mb-3">
                  <div class="small text-gray-500">Design Button
                    <div class="small float-right"><b>50%</b></div>
                  </div>
                  <div class="progress" style="height: 12px;">
                    <div class="progress-bar bg-success" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                </div>
              </a>
              <a class="dropdown-item align-items-center" href="#">
                <div class="mb-3">
                  <div class="small text-gray-500">Make Beautiful Transitions
                    <div class="small float-right"><b>30%</b></div>
                  </div>
                  <div class="progress" style="height: 12px;">
                    <div class="progress-bar bg-warning" role="progressbar" style="width: 30%" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                </div>
              </a>
              <a class="dropdown-item align-items-center" href="#">
                <div class="mb-3">
                  <div class="small text-gray-500">Create Pie Chart
                    <div class="small float-right"><b>75%</b></div>
                  </div>
                  <div class="progress" style="height: 12px;">
                    <div class="progress-bar bg-danger" role="progressbar" style="width: 75%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                </div>
              </a>
              <a class="dropdown-item text-center small text-gray-500" href="#">View All Taks</a>
            </div>
          </li> -->
          <div class="topbar-divider d-none d-sm-block"></div>
          <li class="nav-item dropdown no-arrow">
            <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <img class="img-profile rounded-circle" [src]="user?.photo_url" style="max-width: 60px">
              <span class="ml-2 d-none d-lg-inline text-white small">{{user.first_name}}</span>
            </a>
            <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">
              <a class="dropdown-item" routerLink="/profile">
                <i class="fa fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                Profile
              </a>
              <!-- <a class="dropdown-item" href="#">
                <i class="fa fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i>
                Settings
              </a>
              <a class="dropdown-item" href="#">
                <i class="fa fa-list fa-sm fa-fw mr-2 text-gray-400"></i>
                Activity Log
              </a> -->
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="javascript:void(0);"(click)="logout()" data-toggle="modal" data-target="#logoutModal">
                <i class="fa fa-sign-out fa-sm fa-fw mr-2 text-gray-400"></i>
                Logout
              </a>
            </div>
          </li>
        </ul>
      </nav>

</ng-template>